/* Header block */
/* Inputs */
/* Buttons */
/* Action result (triggered by aapi requests) */
.left-nav-admin {
  padding: 0;
  margin: 0;
  flex: 1 1;
  max-width: 250px;
  border-right: 1px solid #222328; }

.left-nav-admin ul {
  background-color: #303136;
  height: 100%;
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */ }

.left-nav-admin ul li {
  padding: 1em 1em;
  color: #64656a;
  background-color: #212226;
  margin-bottom: 0.1em; }

.left-nav-admin ul li:hover {
  color: #e6e9ee;
  cursor: pointer;
  background-color: #42464f; }

.left-nav-admin ul li.selected {
  color: #e6e9ee;
  background-color: #42464f; }

.left-nav-admin ul li.selected > div.group {
  color: #e6e9ee; }
