.manageUsers ul {
    list-style-type: none;
}

.manageUsers .delete {
    color: red;
    font-weight: bold;
}

.manageUsers a:hover {
    cursor: pointer
}

.manageUsers a, .manageUsers Link, .manageUsers a:visited {
    text-decoration: none;
    color: #FFF;
}

.manageUsers {
    flex: 1 1;
    display: flex;
    flex-direction: row;
}

.manageUsers .right {
    flex: 1 1;
    background: url("../../Images/messages_bg.jpg") repeat;
    padding: 20px;
}

.manageUsers .result {
    padding: 10px;
    background-color: #212226;
    display: inline-block;
    margin-top: 10px;
}

.manageUsers .result.error {
    color: red;
}

.manageUsers .result.success {
    color: green;
}


