/* Header block */
/* Inputs */
/* Buttons */
/* Action result (triggered by aapi requests) */
.manage-users {
  flex: 1 1;
  display: flex;
  flex-direction: row; }

.manage-users ul {
  list-style-type: none; }

.manage-users-right-block {
  flex: 1 1;
  background: url("../../Images/messages_bg.jpg") repeat;
  padding: 20px; }

.manage-users a, .manage-users a:visited {
  text-decoration: none;
  color: #FFF; }

.manage-users a:hover {
  cursor: pointer; }

.manage-users .action-result {
  padding: 10px;
  background-color: #212226;
  display: inline-block;
  margin: 10px 0 0 0; }

.manage-users .action-result.success {
  color: green; }

.manage-users .action-result.error {
  color: red; }
