.login {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../Images/messages_bg.jpg") repeat;
    border: 1px solid #000;

    &-form {
        width: 300px;
        font-size: 16px;
        background: #303136;
        padding: 15px 30px 15px 30px;
        border: 1px solid #2c2d32;
        display: flex;
        flex-direction: column;
        box-shadow: 1px 1px 1px 1px;


        ::placeholder {
            color: #bebfc3;
        }

        input {
            color: #FFF;

            &:focus::-webkit-input-placeholder { color:transparent; }
            &:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
            &:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
            &:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

            &[type=text], &[type=password] {
                background: transparent;
                border: none;
                border-bottom: 1px solid #222326;
                width: 300px;
                outline: none;
                padding: 10px 0;
                //font-style: italic;
                text-align: center;

                &:focus {
                    border-bottom: 2px solid #1b1c1f;
                }
            }

            &[type=submit] {
                background: #222327;
                border: none;
                padding: 8px 10px 8px 10px;
                border-radius: 5px;
                color: #bebfc3;
                margin-top: 15px;

                &:hover {
                    background: #1b1c1f;
                    cursor: pointer;
                }
            }
        }

        &-error {
            margin-top: 15px;
            text-align: center;
            color: #f26726;
        }
    }
}
