/* Header block */
/* Inputs */
/* Buttons */
/* Action result (triggered by aapi requests) */
.add-root-group-form input {
  background-color: #42464f;
  padding: 5px;
  color: #e6e9ee;
  border: none;
  outline: none;
  margin: 5px 0 0 0; }

.add-root-group-form button {
  background-color: #212226;
  color: #9b9ca0;
  border: 1px solid #000;
  padding: 5px;
  margin-top: 5px; }
