/* Header block */
/* Inputs */
/* Buttons */
/* Action result (triggered by aapi requests) */
.manage-groups {
  flex: 1 1;
  display: flex;
  flex-direction: row; }

.manage-groups-header {
  color: #87888c;
  padding: 17px;
  background-color: #212226;
  text-align: center; }

.manage-groups-right-block {
  flex: 1 1;
  background: url("../../Images/messages_bg.jpg") repeat;
  padding: 20px; }

.manage-groups a, .manage-groups a:visited {
  text-decoration: none;
  color: #87888c; }

.manage-groups a:hover, .manage-groups a:visited:hover {
  color: #e6e9ee; }

.manage-groups a.active, .manage-groups a:visited.active {
  color: #e6e9ee; }

.manage-groups-navitem {
  margin-left: 15px; }

.manage-groups .action-result {
  padding: 10px;
  background-color: #212226;
  display: inline-block;
  margin: 10px 0 0 0; }

.manage-groups .action-result.success {
  color: green; }

.manage-groups .action-result.error {
  color: red; }
