/* Header block */
/* Inputs */
/* Buttons */
/* Action result (triggered by aapi requests) */
.remove-group-form input {
  background-color: #42464f;
  padding: 5px;
  color: #e6e9ee;
  border: none;
  outline: none;
  margin: 5px 0 0 0; }

.remove-group-form button {
  background-color: #212226;
  color: #9b9ca0;
  border: none;
  padding: 5px;
  margin-top: 5px; }

.remove-group-form button:hover {
  cursor: pointer; }
