.manageUsers ul {
    list-style-type: none;
}

.manageUsers .delete {
    color: red;
    font-weight: bold;
}

.manageUsers a:hover {
    cursor: pointer
}

.manageUsers a, .manageUsers Link, .manageUsers a:visited {
    text-decoration: none;
    color: #FFF;
}

