/* Header block */
/* Inputs */
/* Buttons */
/* Action result (triggered by aapi requests) */
.input-block {
  display: flex;
  padding: 15px;
  border-top: 1px solid #222328; }

.input-block textarea {
  flex: 1 1;
  resize: none;
  rows: 40;
  padding: 7px;
  background-color: #484b54;
  border: none;
  color: #FFF;
  outline: none; }

.input-block button {
  background-color: #212226;
  color: #9b9ca0;
  border: none;
  max-width: 80px;
  flex: 1 1 auto;
  border-bottom-right-radius: 25%;
  border-top-right-radius: 25%; }

.input-block button:hover {
  cursor: pointer; }

.input-block button:hover {
  cursor: pointer; }
