/* Header block */
/* Inputs */
/* Buttons */
/* Action result (triggered by aapi requests) */
.io-screen {
  flex: 4 4;
  display: flex;
  flex-direction: column;
  background: url("../Images/messages_bg.jpg") repeat;
  padding: 20px; }

.io-screen-messages {
  flex: 1 1;
  overflow-y: auto;
  padding: 10px 0; }

.io-screen-header {
  background-color: #212226;
  color: #87888c;
  padding: 17px;
  text-align: center; }
