.ioScreen {
    flex: 4 4;
    display: flex;
    flex-direction: column;
}

.ioScreen .input {
    background-color: #e0d7d8;
}

.ioScreen .messages {
    flex: 1 1;
    background-color: #FCFCFC;
    overflow-y: auto;
    padding: 10px 0;
}

.messages .fake {
    flex: 1 1;
}
