@import "../CommonStyles/Mixins.scss";

.io-screen {
  flex: 4 4;
  display: flex;
  flex-direction: column;
  background: url("../Images/messages_bg.jpg") repeat;
  padding: 20px;

  &-messages {
    flex: 1 1;
    overflow-y: auto;
    padding: 10px 0;
  }

  &-header {
    @include headerBlockStyles();
  }
}
