.leftNav {
    padding: 0;
    margin: 0;
    flex: 1 1;
    max-width: 250px;
    border-right: 1px solid #222328;
}

.leftNav .search {
    background-color: #4b4c51;
    outline: none;
    border: none;
    color: #7f8085;

}

.tree {
    background-color: #303136;
    height: 100%;
    padding: 5px 0 0 0;
    margin: 0;
    list-style: none;
    outline: none;
    box-sizing: border-box;

    /* Prevent the double click selection */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.tree ul, .tree li {
    padding: 0;
    margin: 0;
}

.tree li {
    padding: 0.1em 0;
}

.tree ul {
    list-style: none;
}

.tree ul div {
    box-sizing: border-box;
    font-family: Calibri sans-serif;
}

.tree li:hover {
    cursor: pointer;
}

.tree .icon {
    padding: 0 10px;
}

.tree div.group {
    color: #e3e4e8;
    background-color: #212226;
}

.tree div.user {
    color: #64656a;
    font-size: 0.9em;
    font-style: italic;
}

.tree div.user, .tree div.group {
    padding: 1em;
}

/* Avoid coloring the whole node, only first div */
.tree .selected > div.group, .tree .selected > div.user {
    background-color: #42464f;
    color: #e6e9ee;
}


