@import "../CommonStyles/Mixins.scss";

.left-nav {
    padding: 0;
    margin: 0;
    flex: 1 1;
    max-width: 250px;
    border-right: 1px solid #222328;

    &-tree {
        background-color: #303136;
        height: 100%;
        padding: 5px 0 0 0;
        margin: 0;
        list-style: none;
        outline: none;
        box-sizing: border-box;
        @include preventDoubleClickSelection();

        ul {
            @include zeroMarginAndPadding();
            list-style: none;

            li {
                @include zeroMarginAndPadding();
                padding: 0.1em 0;
            }
        }

        li:hover {
            cursor: pointer;
        }

        .selected {
            & > div.group, & > div.user {
                background-color: #42464f;
                color: #e6e9ee;
            }
        }

        div {
            box-sizing: border-box;

            .icon {
                padding: 0 10px;
            }

            &.group {
                color: #e3e4e8;
                background-color: #212226;
                padding: 1em;
            }

            &.user {
                color: #64656a;
                font-size: 0.9em;
                font-style: italic;
                padding: 1em;
            }
        }
    }
}

