.leftNav {
    background-color: blue;
    padding: 0;
    margin: 0;
    flex: 1 1;
    max-width: 250px;
}

.tree {
    background-color: #BEE9E8;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;

    /* Prevent the double click selection */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.tree ul, .tree li {
    padding: 0;
    margin: 0;
}

.tree ul {
    list-style: none;
}

.tree ul div {
    box-sizing: border-box;
    font-family: Calibri sans-serif;
}

.tree li:hover {
    cursor: pointer;
}

.tree div.group {
    color: #000;
}

.tree div.user {
    color: #000;
    font-size: 0.9em;
    font-style: italic;
}

.tree div.user, .tree div.group {
    padding: 1em;
}

/* Avoid coloring the whole node, only first div */
.tree .selected > div.group, .tree .selected > div.user {
    background-color: #62B6CB;
    color: #FFF;
}


