body, html {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #444444;
  padding: 25px;
}

#root {
  height: 100%;
  width: 100%;
}
