body, html {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #4f535c;
  padding: 40px;
}

#root {
  height: 100%;
  width: 100%;
}
